.taskBoard {
    height: 85%;
    margin: 5px;
    padding: 10px;
    border: 1px solid saddlebrown;
    background-color: bisque;
    border-radius: 10px;
}

ul {
    margin: 0px;
    padding: 10px;
    list-style-type: none;
}

.deactivateTask {
    text-decoration: line-through;
    color: gray;
}

.deleteTask {
    margin-left: 5px;
    padding: 1px;
    cursor: pointer;
}