.item div {
    margin: 5px;
}

.loginForm {
    margin: 5px;
    padding: 10px;
    border: 1px solid saddlebrown;
    background-color: bisque;
    border-radius: 10px;
}

.loginForm button {
    margin-left: 5px;
}
